*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: rgb(230,123,98);
        font-family: verdana;
}

#wrapper{
	width: 1200px;
	margin: 0px auto;
}

nav{
	background-color: rgb(125,182,173);
	text-align: center;
	padding: 15px;
	font-weight: bold;
	border-radius: 8px;
	box-shadow: -1px 3px 97px 12px black;
}

nav a{
	color: white;
	text-decoration: none;
}

nav a:hover{
	color: rgb(230,123,98);
}

nav span{
	padding: 15px;
}

header{
	background-image: url(images/header.jpg);
	height: 200px;
	border-radius: 15px;
	box-shadow: -1px 3px 97px 12px black;
	
}

#rotulo{
	color: rgb(147, 119, 98);
	font-size: 45px;
	position: relative;
	top: 70px;
	left: 70px;
	font-family: 'Faster One', cursive;
}

#web{
    color: black;
    position: relative;
    top: 70px;
    left: 90px;
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
}

section{
    background-color: antiquewhite;
    background-size: cover;
    border-radius: 15px;
    text-align: justify;
    padding: 15px;
    box-shadow: -1px 3px 97px 12px black;
}

footer{
	text-align: center;
	font-size: 20px;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: rgb(125,182,173);
	border-radius: 15px;
}



/*
FORMULARIOS DE AÑADIR Y DE MODIFICAR
*/

.formulario{
    margin: 0px auto;
    position: relative;
    top: 25px;
    max-width: 500px;
    background: white;
    border-radius: 10px;
    margin-bottom: 50px;
}

.tituloFormulario{
    background: rgb(125,182,173);
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 5px solid rgb(230,123,98);
}

.contenedorInputs{
    padding: 10px 30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputSmall{
    width: 48%;
}

.inputGrande{
    width: 100%;
}

.botonFormulario{
    background: rgb(230,123,98);
    color: white;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 20px;
}

input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid grey;
}


/*
    Estilo listado Cliente y reservas
*/

.tituloListado{
    text-align: center;
    padding: 20px;
}

#estiloTablaCliente{
	margin: 0px auto;
}

#estiloTablaReservas{
	margin: 0px auto;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 15px;
}

thead{
	background-color: rgb(125,182,173);
	border-bottom: 5px solid rgb(230,123,98);
	color: white;
}

tr:nth-child(even){
	background-color: #F2F2F2;
}

tr:hover td{
	background-color: rgb(207,228,225);
	color: rgb(230,123,98);
}

.botonModificar{
    background-color: darkcyan;
    padding: 7px 16px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 1px solid darkturquoise;
    cursor: pointer;
}

.botonBorrar{
    background-color: coral;
    padding: 7px 16px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 1px solid burlywood;
    position: relative;
    right: 15px;
    cursor: pointer;
}



/*
ESTILO DEL INDEX
*/
.imagenesIndex{
	width: 300px;
	height: 200px;
	margin: auto;
	position: relative;
	top: 100px;
	overflow: hidden;
	border-radius: 2.5em;
	box-shadow: 9px 9px 36px -5px rgba(0,0,0,0.75);
}

#tituloOpciones{
	width: 600px;
	font-size: 26px;
        margin: 0 auto;
}
#img1{
	width: 250px;
	height: 250px;
	float: left;
	top: 30px;
	left: 250px;
	
}
#img2{
	width: 250px;
	height: 250px;
	float: left;
	top: 30px;
	left: 420px;
}

#img3{
	width: 250px;
	height: 250px;
	clear: both;
	float: left;
	top: 60px;
	left: 250px;
}
#img4{
	width: 250px;
	height: 250px;
	float: left;
	top: 60px;
	left: 420px;
}

#fondoIndex{
    clear: both;
    margin-bottom: 80px;
}



/*
    ESTILO CONFIRMACION BORRADO DE RESERVAS Y CLIENTES
*/

.marcoAviso{
    margin-bottom: 50px;
}

.avisoBorrado{
    text-align: center;
    position: relative;
    top: 50px;
}

.seguro{
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 60px;
}

.cancelarConfirmacion{
    position: relative;
    top: 50px;
    left: 588px;
    background: red;
    color: white;
    border: 1px solid darkorange;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 10px;
    cursor: pointer;
}

.aceptarConfirmacion{
    position: relative;
    top: 89px;
    left: 500px;
    background: green;
    border: 1px solid darkseagreen;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    cursor: pointer;
}



/*
    Estilos de los errores cliente y dni
*/

.errorH{
    text-align: center;
    padding: 15px;
}

.nuevoIntento{
   background: lightcoral;
   text-decoration: none;
   color: white;
   padding: 5px;
   border-radius: 5px;
   font-weight: bold;
   position: relative;
   left: 500px; 
   cursor: pointer;
}



/*
    Página para ver que se ha añadido una reserva o un cliente correctamente
*/

.mensajeGrabaReserva{
    text-align: center;
    padding: 15px;
}

.hacerloDeNuevo{
    background: lightcoral;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    left: 397px;
}

.aceptarNuevo{
    background: lightcoral;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    left: 430px;
}